.about {
    &-block {
        &-line {
            width: 2px;
            height: 100%;
            border: 2px orange solid;
        }
    }
}
.benefits {
    &-li {
        border: 1px solid #e2e2e2;
        // height: 102px;
    }
    &-span {
        padding: 10px 0;
    }
}
