.hero {
    background-image: url("/assets/img/ys02.png"), url("/assets/img/background.png");
    background-position: right 20% bottom 0%;
    background-repeat: no-repeat;
    height: 770px;
}
@media (max-width: 1024px) {
    .hero {
        background-position: right -15% bottom 0%, right 35% bottom 0%;
        background-size: 499px, auto;
        height: 768px;
    }
}
@media (max-width: 768px) {
    .hero {
        background-position: right -15% bottom 0%, right 25% bottom 0%;
        background-size: 382px, auto;

        height: 565px;
    }
}
@media (max-width: 360px) {
    .hero {
        background-position: right -15% bottom 0%, right 25% bottom 0%;
        background-size: 245px, auto;

        height: 580px;
    }
}
